@model EyeHistoria.Models.FamilyOcularHistory

<h4>FamilyOcularHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FamilyOcularHistoryProcess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="p_id" class="control-label"></label>
                <input asp-for="p_id" class="form-control" />
                <span asp-validation-for="p_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pf_diseases" class="control-label"></label>
                <input asp-for="pf_diseases" class="form-control" />
                <span asp-validation-for="pf_diseases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dis_type" class="control-label"></label>
                <input asp-for="dis_type" class="form-control" />
                <span asp-validation-for="dis_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dis_member" class="control-label"></label>
                <input asp-for="dis_member" class="form-control" />
                <span asp-validation-for="dis_member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonalHealthHistoryProcess">Next</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
