@model EyeHistoria.Models.PersonalHealthHistory

<h4>PersonalHealthHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonalHealthHistoryProcess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="p_id" class="control-label"></label>
                <input asp-for="p_id" class="form-control" />
                <span asp-validation-for="p_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p_allergy" class="control-label"></label>
                <input asp-for="p_allergy" class="form-control" />
                <span asp-validation-for="p_allergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p_medication" class="control-label"></label>
                <input asp-for="p_medication" class="form-control" />
                <span asp-validation-for="p_medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p_hcondition" class="control-label"></label>
                <input asp-for="p_hcondition" class="form-control" />
                <span asp-validation-for="p_hcondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="all_type" class="control-label"></label>
                <input asp-for="all_type" class="form-control" />
                <span asp-validation-for="all_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="med_type" class="control-label"></label>
                <input asp-for="med_type" class="form-control" />
                <span asp-validation-for="med_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hcon_type" class="control-label"></label>
                <input asp-for="hcon_type" class="form-control" />
                <span asp-validation-for="hcon_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="med_sdate" class="control-label"></label>
                <input asp-for="med_sdate" class="form-control" />
                <span asp-validation-for="med_sdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hcon_sdate" class="control-label"></label>
                <input asp-for="hcon_sdate" class="form-control" />
                <span asp-validation-for="hcon_sdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="med_edate" class="control-label"></label>
                <input asp-for="med_edate" class="form-control" />
                <span asp-validation-for="med_edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hcon_edate" class="control-label"></label>
                <input asp-for="hcon_edate" class="form-control" />
                <span asp-validation-for="hcon_edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FamilyHealthHistoryProcess">Next</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
