@model EyeHistoria.Models.PersonalOcularHistory

@{
    Layout = "_ProcessLayout";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f8f9fa;
        margin: 20px; /* Add margin for overall spacing */
    }

    .timeline-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .timeline {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .timeline-circle {
        width: 20px;
        height: 20px;
        background-color: #ced4da;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-right: 20px;
    }

        .timeline-circle:first-child {
            background-color: #007bff;
            margin-left: 0; /* Remove margin for the first circle */
        }

    .timeline-line {
        flex: 1;
        height: 2px;
        background-color: #ced4da;
        margin-left: -20px; /* Remove spacing at the start of the lines */
    }

    .timeline-circle:first-child {
        background-color: #007bff;
        margin-left: 0; /* Remove margin for the first two circles */
    }

    #nowtoo {
        background-color: #007bff;
        margin-left: 0; /* Remove margin for the first two circles */
    }

    #now {
        background-color: #007bff;
    }


    h4 {
        color: #007bff;
        font-size: 30px; /* Reduce font size for a balanced look */
        margin-bottom: 20px; /* Add space below h4 */
    }

    h5 {
        font-size: 18px;
    }

    /* Styling for general questions */
    .general {
        font-weight: bold; /* Add bold font for emphasis */
        color: #007bff; /* Use a different color for general questions */
    }

    .form-container {
        font-family: 'Montserrat', sans-serif;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 14px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    label {
        font-weight: bold;
        margin-bottom: 15px; /* Add more space between label and input */
        display: block; /* Ensure each label is on a new line */
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    select {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        max-width: 500px; /* Limit input box width */
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 16px;
        margin-bottom: 14px; /* Add space between input boxes */
    }

    input[type="submit"] {
        font-family: 'Montserrat', sans-serif;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.8s, color 0.8s, box-shadow 0.8s, transform 0.8s; /* Add box-shadow to the transition */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial box shadow */
    }

        input[type="submit"]:hover {
            background-color: #28a745; /* Change background color on hover to green */
            color: #fff; /* Change text color on hover to white */
            transform: translateY(-3px); /* Offset the button slightly on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust box shadow on hover */
        }

    .next-link {
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
        display: block;
        text-align: right;
        color: #007bff;
        text-decoration: none;
    }

        .next-link:hover {
            text-decoration: underline;
        }

    /* Center the Next button */
    .next-button-container {
        text-align: right;
    }
</style>

<h5>STEP THREE: OCULAR HISTORY (PERSONAL)</h5>

<div class="timeline-container">
    <!-- Timeline -->
    <div class="timeline">
        <div class="timeline-circle"></div>
        <div class="timeline-line" id="now"></div>
        <div class="timeline-circle" id="nowtoo"></div>
        <div class="timeline-line" id="now"></div>
        <div class="timeline-circle" id="nowtoo"></div>
        <div class="timeline-line" id="now"></div>
        <div class="timeline-circle"></div>
        <div class="timeline-line"></div>
        <div class="timeline-circle"></div>
        <div class="timeline-line"></div>
        <div class="timeline-circle"></div>
    </div>
</div>

<h4>3. Personal Ocular History</h4>
<h5>Please find out more about the patient's ocular history.</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonalOcularHistoryProcess" id="personalOcularForm" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="p_prescription" class="control-label general"></label>
                <select asp-for="p_prescription" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_prescription" class="text-danger"></span>
            </div>

            <div class="form-group" id="pre_type">
                <label asp-for="pre_type" class="control-label"></label>
                <input asp-for="pre_type" class="form-control" placeholder="Spectacles"/>
                <span asp-validation-for="pre_type" class="text-danger"></span>
            </div>

            <div class="form-group" id="pre_sdate">
                <label asp-for="pre_sdate" class="control-label"></label>
                <input asp-for="pre_sdate" class="form-control" />
                <span asp-validation-for="pre_sdate" class="text-danger"></span>
            </div>

            <div class="form-group" id="pre_edate">
                <label asp-for="pre_edate" class="control-label"></label>
                <input asp-for="pre_edate" class="form-control" />
                <span asp-validation-for="pre_edate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="p_procedure" class="control-label general"></label>
                <select asp-for="p_procedure" class="form-control" >
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_procedure" class="text-danger"></span>
            </div>

            <div class="form-group" id="pro_type">
                <label asp-for="pro_type" class="control-label"></label>
                <input asp-for="pro_type" class="form-control" placeholder="Glaucoma Surgery" />
                <span asp-validation-for="pro_type" class="text-danger"></span>
            </div>

            <div class="form-group" id="pro_sdate">
                <label asp-for="pro_sdate" class="control-label"></label>
                <input asp-for="pro_sdate" class="form-control" />
                <span asp-validation-for="pro_sdate" class="text-danger"></span>
            </div>

            <div class="form-group" id="pro_edate">
                <label asp-for="pro_edate" class="control-label"></label>
                <input asp-for="pro_edate" class="form-control" />
                <span asp-validation-for="pro_edate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="p_condition" class="control-label general"></label>
                <select asp-for="p_condition" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_condition" class="text-danger"></span>
            </div>

            <div class="form-group" id="con_type">
                <label asp-for="con_type" class="control-label"></label>
                <input asp-for="con_type" class="form-control" placeholder="Cataracts" />
                <span asp-validation-for="con_type" class="text-danger"></span>
            </div>

            <div class="form-group" id="con_sdate">
                <label asp-for="con_sdate" class="control-label"></label>
                <input asp-for="con_sdate" class="form-control" />
                <span asp-validation-for="con_sdate" class="text-danger"></span>
            </div>

            <div class="form-group" id="con_edate">
                <label asp-for="con_edate" class="control-label"></label>
                <input asp-for="con_edate" class="form-control" />
                <span asp-validation-for="con_edate" class="text-danger"></span>
            </div>

            <div class="form-group next-button-container">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="next-link">
    <a asp-action="FamilyOcularHistoryProcess">Next</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Hide or show fields based on the initial value of ...
            toggleFields1();
            toggleFields2();
            toggleFields3();

            // Handle change event of p_prescription
            $('#p_prescription').on('change', function () {
                toggleFields1();
            });

            // Handle change event of p_procedure
            $('#p_procedure').on('change', function () {
                toggleFields2();
            });

            // Handle change event of p_condition
            $('#p_condition').on('change', function () {
                toggleFields3();
            });

            // Function to toggle visibility of fields
            function toggleFields1() {
                var prescriptionValue = $('#p_prescription').val();

                if (prescriptionValue === 'Yes') {
                    $('#pre_type, #pre_sdate, #pre_edate').show();
                } else {
                    $('#pre_type, #pre_sdate, #pre_edate').hide();
                }
            }

            // Function to toggle visibility of fields
            function toggleFields2() {
                var procedureValue = $('#p_procedure').val();

                if (procedureValue === 'Yes') {
                    $('#pro_type, #pro_sdate, #pro_edate').show();
                } else {
                    $('#pro_type, #pro_sdate, #pro_edate').hide();
                }
            }

            // Function to toggle visibility of fields
            function toggleFields3() {
                var conditionValue = $('#p_condition').val();

                if (conditionValue === 'Yes') {
                    $('#con_type, #con_sdate, #con_edate').show();
                } else {
                    $('#con_type, #con_sdate, #con_edate').hide();
                }
            }
        });
    </script>
}
