@model EyeHistoria.Models.PersonalHealthHistory

@{
    Layout = "_ProcessLayout";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f8f9fa;
        margin: 20px; /* Add margin for overall spacing */
    }

    h4 {
        color: #007bff;
        font-size: 30px; /* Reduce font size for a balanced look */
        margin-bottom: 20px; /* Add space below h4 */
    }

    h5 {
        font-size: 18px;
    }

    /* Styling for general questions */
    .general {
        font-weight: bold; /* Add bold font for emphasis */
        color: #007bff; /* Use a different color for general questions */
    }

    .form-container {
        font-family: 'Montserrat', sans-serif;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 14px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    label {
        font-weight: bold;
        margin-bottom: 15px; /* Add more space between label and input */
        display: block; /* Ensure each label is on a new line */
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    select {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        max-width: 500px; /* Limit input box width */
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 16px;
        margin-bottom: 14px; /* Add space between input boxes */
    }

    input[type="submit"] {
        font-family: 'Montserrat', sans-serif;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.8s, color 0.8s, box-shadow 0.8s, transform 0.8s; /* Add box-shadow to the transition */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial box shadow */
    }

        input[type="submit"]:hover {
            background-color: #28a745; /* Change background color on hover to green */
            color: #fff; /* Change text color on hover to white */
            transform: translateY(-3px); /* Offset the button slightly on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust box shadow on hover */
        }

    .next-link {
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
        display: block;
        text-align: right;
        color: #007bff;
        text-decoration: none;
    }

        .next-link:hover {
            text-decoration: underline;
        }

    /* Center the Next button */
    .next-button-container {
        text-align: right;
    }
</style>

<h4>4. Personal Health History</h4>
<h5>Please find out more about the patient's health history.</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonalHealthHistoryProcess" id="personalHealthForm" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="p_allergy" class="control-label general"></label>
                <select asp-for="p_allergy" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_allergy" class="text-danger"></span>
            </div>
            <div class="form-group" id="all_type">
                <label asp-for="all_type" class="control-label"></label>
                <input asp-for="all_type" class="form-control" placeholder="Dust"/>
                <span asp-validation-for="all_type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="p_medication" class="control-label general"></label>
                <select asp-for="p_medication" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_medication" class="text-danger"></span>
            </div>
            <div class="form-group" id="med_type">
                <label asp-for="med_type" class="control-label"></label>
                <input asp-for="med_type" class="form-control" placeholder="Isotretinoin"/>
                <span asp-validation-for="med_type" class="text-danger"></span>
            </div>
            <div class="form-group" id="med_sdate">
                <label asp-for="med_sdate" class="control-label"></label>
                <input asp-for="med_sdate" class="form-control" />
                <span asp-validation-for="med_sdate" class="text-danger"></span>
            </div>
            <div class="form-group" id="med_edate">
                <label asp-for="med_edate" class="control-label"></label>
                <input asp-for="med_edate" class="form-control" />
                <span asp-validation-for="med_edate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="p_hcondition" class="control-labe general"></label>
                <select asp-for="p_hcondition" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_hcondition" class="text-danger"></span>
            </div>
            <div class="form-group" id="hcon_type">
                <label asp-for="hcon_type" class="control-label"></label>
                <input asp-for="hcon_type" class="form-control" placeholder="Diabetes"/>
                <span asp-validation-for="hcon_type" class="text-danger"></span>
            </div>
            <div class="form-group" id="hcon_sdate">
                <label asp-for="hcon_sdate" class="control-label"></label>
                <input asp-for="hcon_sdate" class="form-control" />
                <span asp-validation-for="hcon_sdate" class="text-danger"></span>
            </div>
            <div class="form-group" id="hcon_edate">
                <label asp-for="hcon_edate" class="control-label"></label>
                <input asp-for="hcon_edate" class="form-control" />
                <span asp-validation-for="hcon_edate" class="text-danger"></span>
            </div>

            <div class="form-group next-button-container">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="next-link">
    <a asp-action="FamilyHealthHistoryProcess">Next</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Hide or show fields based on the initial value of ...
            toggleFields1();
            toggleFields2();
            toggleFields3();

            // Handle change event of p_allergy
            $('#p_allergy').on('change', function () {
                toggleFields1();
            });

            // Handle change event of p_medication
            $('#p_medication').on('change', function () {
                toggleFields2();
            });

            // Handle change event of p_hcondition
            $('#p_hcondition').on('change', function () {
                toggleFields3();
            });

            // Function to toggle visibility of fields
            function toggleFields1() {
                var allergyValue = $('#p_allergy').val();

                if (allergyValue === 'Yes') {
                    $('#all_type').show();
                } else {
                    $('#all_type').hide();
                }
            }

            // Function to toggle visibility of fields
            function toggleFields2() {
                var medicationValue = $('#p_medication').val();

                if (medicationValue === 'Yes') {
                    $('#med_type, #med_sdate, #med_edate').show();
                } else {
                    $('#med_type, #med_sdate, #med_edate').hide();
                }
            }

            // Function to toggle visibility of fields
            function toggleFields3() {
                var healthConditionValue = $('#p_hcondition').val();

                if (healthConditionValue === 'Yes') {
                    $('#hcon_type, #hcon_sdate, #hcon_edate').show();
                } else {
                    $('#hcon_type, #hcon_sdate, #hcon_edate').hide();
                }
            }
        });
    </script>
}
