@model EyeHistoria.Models.PersonalOcularHistory

@{
    Layout = "_ProcessLayout";
}

<h4>3. Personal Ocular History</h4>
<h5>Please find out more about the patient's ocular history.</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonalOcularHistoryProcess" id="personalOcularForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="p_prescription" class="control-label"></label>
                <select asp-for="p_prescription" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_prescription" class="text-danger"></span>
            </div>

            <div class="form-group" id="pre_type">
                <label asp-for="pre_type" class="control-label"></label>
                <input asp-for="pre_type" class="form-control" placeholder="Spectacles"/>
                <span asp-validation-for="pre_type" class="text-danger"></span>
            </div>

            <div class="form-group" id="pre_sdate">
                <label asp-for="pre_sdate" class="control-label"></label>
                <input asp-for="pre_sdate" class="form-control" />
                <span asp-validation-for="pre_sdate" class="text-danger"></span>
            </div>

            <div class="form-group" id="pre_edate">
                <label asp-for="pre_edate" class="control-label"></label>
                <input asp-for="pre_edate" class="form-control" />
                <span asp-validation-for="pre_edate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="p_procedure" class="control-label"></label>
                <select asp-for="p_procedure" class="form-control" >
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_procedure" class="text-danger"></span>
            </div>

            <div class="form-group" id="pro_type">
                <label asp-for="pro_type" class="control-label"></label>
                <input asp-for="pro_type" class="form-control" placeholder="Glaucoma Surgery" />
                <span asp-validation-for="pro_type" class="text-danger"></span>
            </div>

            <div class="form-group" id="pro_sdate">
                <label asp-for="pro_sdate" class="control-label"></label>
                <input asp-for="pro_sdate" class="form-control" />
                <span asp-validation-for="pro_sdate" class="text-danger"></span>
            </div>

            <div class="form-group" id="pro_edate">
                <label asp-for="pro_edate" class="control-label"></label>
                <input asp-for="pro_edate" class="form-control" />
                <span asp-validation-for="pro_edate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="p_condition" class="control-label"></label>
                <select asp-for="p_condition" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                </select>
                <span asp-validation-for="p_condition" class="text-danger"></span>
            </div>

            <div class="form-group" id="con_type">
                <label asp-for="con_type" class="control-label"></label>
                <input asp-for="con_type" class="form-control" placeholder="Cataracts" />
                <span asp-validation-for="con_type" class="text-danger"></span>
            </div>

            <div class="form-group" id="con_sdate">
                <label asp-for="con_sdate" class="control-label"></label>
                <input asp-for="con_sdate" class="form-control" />
                <span asp-validation-for="con_sdate" class="text-danger"></span>
            </div>

            <div class="form-group" id="con_edate">
                <label asp-for="con_edate" class="control-label"></label>
                <input asp-for="con_edate" class="form-control" />
                <span asp-validation-for="con_edate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FamilyOcularHistoryProcess">Next</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Hide or show fields based on the initial value of ...
            toggleFields1();
            toggleFields2();
            toggleFields3();

            // Handle change event of p_prescription
            $('#p_prescription').on('change', function () {
                toggleFields1();
            });

            // Handle change event of p_procedure
            $('#p_procedure').on('change', function () {
                toggleFields2();
            });

            // Handle change event of p_condition
            $('#p_condition').on('change', function () {
                toggleFields3();
            });

            // Function to toggle visibility of fields
            function toggleFields1() {
                var prescriptionValue = $('#p_prescription').val();

                if (prescriptionValue === 'Yes') {
                    $('#pre_type, #pre_sdate, #pre_edate').show();
                } else {
                    $('#pre_type, #pre_sdate, #pre_edate').hide();
                }
            }

            // Function to toggle visibility of fields
            function toggleFields2() {
                var procedureValue = $('#p_procedure').val();

                if (procedureValue === 'Yes') {
                    $('#pro_type, #pro_sdate, #pro_edate').show();
                } else {
                    $('#pro_type, #pro_sdate, #pro_edate').hide();
                }
            }

            // Function to toggle visibility of fields
            function toggleFields3() {
                var conditionValue = $('#p_condition').val();

                if (conditionValue === 'Yes') {
                    $('#con_type, #con_sdate, #con_edate').show();
                } else {
                    $('#con_type, #con_sdate, #con_edate').hide();
                }
            }
        });
    </script>
}
