@model EyeHistoria.Models.PersonalOcularHistory

<h4>PersonalOcularHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonalOcularHistoryProcess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="p_id" class="control-label"></label>
                <input asp-for="p_id" class="form-control" />
                <span asp-validation-for="p_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p_prescription" class="control-label"></label>
                <input asp-for="p_prescription" class="form-control" />
                <span asp-validation-for="p_prescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p_procedure" class="control-label"></label>
                <input asp-for="p_procedure" class="form-control" />
                <span asp-validation-for="p_procedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p_condition" class="control-label"></label>
                <input asp-for="p_condition" class="form-control" />
                <span asp-validation-for="p_condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pre_type" class="control-label"></label>
                <input asp-for="pre_type" class="form-control" />
                <span asp-validation-for="pre_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_type" class="control-label"></label>
                <input asp-for="pro_type" class="form-control" />
                <span asp-validation-for="pro_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="con_type" class="control-label"></label>
                <input asp-for="con_type" class="form-control" />
                <span asp-validation-for="con_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pre_sdate" class="control-label"></label>
                <input asp-for="pre_sdate" class="form-control" />
                <span asp-validation-for="pre_sdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_sdate" class="control-label"></label>
                <input asp-for="pro_sdate" class="form-control" />
                <span asp-validation-for="pro_sdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="con_sdate" class="control-label"></label>
                <input asp-for="con_sdate" class="form-control" />
                <span asp-validation-for="con_sdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pre_edate" class="control-label"></label>
                <input asp-for="pre_edate" class="form-control" />
                <span asp-validation-for="pre_edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_edate" class="control-label"></label>
                <input asp-for="pro_edate" class="form-control" />
                <span asp-validation-for="pro_edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="con_edate" class="control-label"></label>
                <input asp-for="con_edate" class="form-control" />
                <span asp-validation-for="con_edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FamilyOcularHistoryProcess">Next</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
