.container {
    display: flex;
    flex-direction: column;
}

.symptom {
 
}

.symptom label {
    margin-right: 10px;
}

.close {
    cursor: pointer;
}

.onset, .location {
    text-align: left;
}
