@model EyeHistoria.Models.Symptoms

@{
    ViewData["Title"] = "Create";
}

<h4>Symptoms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SymptomName" class="control-label"></label>
                <input asp-for="SymptomName" class="form-control" />
                <span asp-validation-for="SymptomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <input asp-for="AdminID" class="form-control"  />
                <span asp-validation-for="AdminID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>







