@model EyeHistoria.Models.Symptoms

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/Index.css">
<link rel="stylesheet" type="text/css" href="~/css/Create.css">


<div>
    <a asp-action="Index"><i class="arrow">🡸</i> Back to List</a>
</div>
<h1>Add Symptoms</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SymptomName" class="control-label"></label>
                <input asp-for="SymptomName" class="form-control" placeholder="e.g. Eye Redness, Blurred Vision, etc." />
                <span asp-validation-for="SymptomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <input asp-for="AdminID" class="form-control" readonly />
                <span asp-validation-for="AdminID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" readonly />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>









