<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EyeHistoria</title>
    
    <link rel="stylesheet" href="~/EyeHistoria.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
           
                
                    
                    <ul class="navbar-nav flex-grow-1">
                        <span class="logo">EyeHistoria</span>
                        <li style="float:right">
                            <a class="active" asp-area="" asp-controller="#" asp-action="Index">Home</a>
                        </li>
                        <li style="float:right">
                            <a class="nav-link text-dark" asp-area="" asp-controller="#" asp-action="Privacy">Privacy</a>
                        </li>
                        <li style="float:right">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">View Symptoms</a>
                        </li>
                        <li style="float:right">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewDiagnosis">View Diagnosis</a>
                        </li>
                        <li style="float:right">
                            <a class="dropdown-item" href="~/Admin/ViewQuestions">FAQs</a>
                        </li>
            </ul>
                       
                        <li style="float:right">
                            <a class="nav-link dropdown-toggle" href="#" id="deliveryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Questions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="deliveryDropdown">
                                <li><a class="dropdown-item" href="~/Admin/ViewQuestions">View Questions</a></li>
                                <li><a class="dropdown-item" href="~/Admin/AddQuestions">Add Questions</a></li>
                            </ul>
                        </li>
                    
            
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
