@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf‐8" />
    <meta name="viewport" content="width=device‐width, initial‐scale=1.0" />
    <link rel="stylesheet" href="~/css/Index.css" asp‐append‐version="true" />
</head>
<body>
    <div class="container">
        <div class=row>
            <div class="col-sm-6">
                <form method="post" action="~/Home/SubmitDiagnosis">
                    <div class="symptom">
                        <label for="eyeRedness">Eye Redness</label>
                        <input type="checkbox" id="eyeRedness" name="eyeRedness" value="eyeRedness" data-onset="eyeRednesstext" data-location="eyeRednesstext2">
                        <br />
                        <div>
                            <input type="radio" class="btn-check" name="eyeRednessOption" id="eyeRednessOption1" autocomplete="off" value="1">
                            <label class="btn btn-outline-primary" for="eyeRednessOption1">1</label>

                            <input type="radio" class="btn-check" name="eyeRednessOption" id="eyeRednessOption2" autocomplete="off" value="2">
                            <label class="btn btn-outline-primary" for="eyeRednessOption2">2</label>

                            <input type="radio" class="btn-check" name="eyeRednessOption" id="eyeRednessOption3" autocomplete="off" value="3">
                            <label class="btn btn-outline-primary" for="eyeRednessOption3">3</label>

                            <input type="radio" class="btn-check" name="eyeRednessOption" id="eyeRednessOption4" autocomplete="off" value="4">
                            <label class="btn btn-outline-primary" for="eyeRednessOption4">4</label>

                            <input type="radio" class="btn-check" name="eyeRednessOption" id="eyeRednessOption5" autocomplete="off" value="5">
                            <label class="btn btn-outline-primary" for="eyeRednessOption5">5</label>
                        </div>
                        
                    </div>

                    <div class="symptom">
                        <label for="eyeItch">Eye Itch</label>
                        <input type="checkbox" id="eyeItch" name="eyeItch" value="eyeItch" data-onset="eyeItchtext" data-location="eyeItchtext2">
                    </div>

                    <div class="symptom">
                        <label for="eyeSwelling">Eye Swelling</label>
                        <input type="checkbox" id="eyeSwelling" name="eyeSwelling" value="eyeSwelling" data-onset="eyeSwellingtext" data-location="eyeSwellingtext2">
                    </div>
                    <input type="submit" value="Submit Result" />
                </form>
            </div>
            <div class="col-sm-6">
                    <div class="onset">
                        <p>Onset</p>
                        <p id="eyeRednesstext" style="display:none">Does your eye redness come and go? <span class="close">&times;</span></p>
                        <p id="eyeItchtext" style="display:none">Does your eye itch only in the morning/night? <span class="close">&times;</span></p>
                        <p id="eyeSwellingtext" style="display:none">Is there any specific time when your eyes swell? <span class="close">&times;</span></p>
                    </div>

                    <div class="location">
                        <p>Location</p>
                        <p id="eyeRednesstext2" style="display:none">Does the eye redness affect both eyes? <span class="close">&times;</span></p>
                        <p id="eyeItchtext2" style="display:none">Does the eye itch affect all parts of the eyes? <span class="close">&times;</span></p>
                        <p id="eyeSwellingtext2" style="display:none">Is the swelling localized to one eye or both? <span class="close">&times;</span></p>
                    </div>               
            </div>
        </div>

        <!-- Add more symptoms and checkboxes here -->
        <div class="row">
           
        </div>
    </div>

    <!-- Javascript file -->
    <script src="~/js/Index.js"></script>
</body>
</html>