<link rel="stylesheet" href="~/EyeHistoria.styles.css" asp-append-version="true" />

<link rel="stylesheet" type="text/css" href="~/css/Index.css">


<div class="picture">
    <img class="logo-pic" src="~/image/logo .png" />
</div>
<nav>

        <ul class="navbar-nav">
            <li>
                <a class="active" asp-controller="" asp-controller="Admin" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ViewDiagnosis">Diagnoses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ViewQuestions">Questions Log</a>
            </li>

        </ul>
               
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/LogOut">Log Out</a>
                </li>
            </ul>

            
       
        
</nav>