<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Application Name</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Admin.css">

</head>
<body>
    <header>
        <div class="picture">
                <img class="logo-pic" src="~/lib/images/logo .png" />
            </div>
        <nav>
            



            <a style="float:left" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Application Name</a>
            <ul class="navbar-nav flex-grow-1">

                <li>
                    <a class="nav-link" asp-controller="" asp-controller="Admin" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="active" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ViewDiagnosis">View Diagnosis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ViewQuestions">FAQs</a>
                </li>

            </ul>
        </nav>
        
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Your Application Name - @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
