<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EyeHistoria</title>
    <link rel="stylesheet" href="~/EyeHistoria.styles.css" media="screen" runat="server" 
		  asp-append-version="true" />
</head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Mulish:wght@200&family=Raleway:wght@300;600&family=Space+Grotesk:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <header>
             
        <nav>
            <div class="picture">
                <img class="logo-pic" src="~/lib/images/logo .png" />
            </div>
            
           
                
                    
                    <ul class="navbar-nav flex-grow-1">
                        <li >
                            <a class="active" asp-controller="" asp-controller="Admin" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ViewDiagnosis">View Diagnosis</a>
                        </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ViewQuestions">FAQs</a>
                </li>
                        
            </ul>
        </nav>

        <!---<li style="float:right">
                            <a class="nav-link dropdown-toggle" href="#" id="deliveryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Questions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="deliveryDropdown">
                                <li><a class="dropdown-item" href="~/Admin/ViewQuestions">View Questions</a></li>
                                <li><a class="dropdown-item" href="~/Admin/AddQuestions">Add Questions</a></li>
                            </ul>
                        </li>
                   -->
            
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
